.header{
    width: 88%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    .options{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .option{
        padding: 0 15px;
    }
}